@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


html{
    scroll-behavior: smooth;
  }

header{
    position: sticky;
    top: 0;
    z-index: 1000;
}
main{
 scroll-margin-top: 70px;
}

nav{
    align-content: center;
    background-color: black;
    height: 70px;
    width: 100%;
    opacity: 0.8;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul li a{
    text-decoration: none;
    color: #EFF5F5;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 7px;
    text-transform: uppercase;
}
li a:hover{
   background:orange;
   transition: .5s;
}
a.idioma{
    border-radius: 0%;
    padding: 0px;
    background: none;
    transition: none;
}
a.idioma:hover{
    color: orange;
    border-radius: 20%;
    padding: 0px;
    background: none;
    transition: none;
}

#idioma {
    position: absolute; /* Saca el elemento del flujo normal */
    right: 20px; /* Distancia desde el borde derecho del contenedor */
    top: 50%; /* Lo alinea a la mitad verticalmente */
    transform: translateY(-50%); /* Ajuste para centrado vertical perfecto */
    /* Asegúrate de que el contenedor padre tenga position: relative; */
    /* En tu caso, <nav> ya lo tiene con position: sticky; */
}

body{
  margin: 0;
  padding: 0;
  color: beige;
  background-color: black;
}

#ORD{
    font-family: "Noto Sans", sans-serif;
    scroll-margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h2{
  padding-left: 20px;
  padding-bottom: 15px;
  text-align: center;
}

h3{ 
  text-align: center;
  padding-bottom: 15px;
}
a{
    text-align: center;
}

main{
    background-color: black;
}

#card1, #card2, #card3{
 width: 80%;
 display: flex;
 flex-direction: row;
 gap: 10px;
 align-items: center;
 border: solid orange;
 border-radius: 7px;
 padding: 10px;
 margin: 20px;
 box-shadow: 0px 0px 0px 0px orange;
}
#resumen{
 width: 80%;
 display: flex;
 flex-direction: column;
 align-items: center;
 border: solid orange;
 border-radius: 7px;
 padding: 10px;
 margin: 20px;
 box-shadow: 0px 0px 0px 0px orange;
}   


#card2{
 justify-content: center;   
 flex-wrap: wrap;
}

#card3{
flex-wrap: wrap;
justify-content: center;
}

#card2, #card3, #resumen{
    margin-top: 70px;
    justify-items: center;
}
#contenedor2{
  justify-items: center;

}
#card1:hover{
box-shadow: 0px 0px 40px 20px orange; 
}
#card2:hover{
box-shadow: 0px 0px 40px 20px orange; 
}
#card3:hover{
 box-shadow: 0px 0px 40px 20px orange; 
}
#resumen:hover{
  box-shadow: 0px 0px 40px 20px orange;    
}
p{
    text-align: center;
    color: beige;
}
#introduccion1, #introduccion2, #introduccion3{
    padding: 20px;
}
#contenedorFoto{
    margin: 10px;
}
#contenedorFotoDESC1{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenedorPDF{
    position: relative;
    width: 90%; /* El contenedor ocupa todo el ancho disponible */
    padding-top: 141.42%;

}
.contenedorPDF iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* El iframe se expande para llenar el contenedor */
    height: 100%;
}
iframe {
    width: 100%;
    height: 80%;
}

#pieFoto{
    margin-top: 5px;
    font-size: 10px;
    color: beige;
}

#descripcion1, #descripcion2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    border-radius: 7px;
    box-shadow: 4px 4px 4px orange; 
}
#oferta{
    display: flex;
    flex-wrap: wrap;
}

.sombraBTC{
    border-radius: 10px;
    box-shadow: 8px 8px 8px orange; 
}



footer{
  font-size: 14px;
  font-style: italic;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   margin-top: 30px; /* Elimina los márgenes superior e inferior por defecto */
    line-height: 0em;
}
.oferta{
    width: 80%;
}

#resumen{
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (max-width: 850px){
nav{
  height: 150px;
}  
#ORD{
    scroll-margin-top: 150px;  
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20pxpx;
    padding: 0px;


}
#idioma{
    margin-top: -40px;
}

}


@media (max-width: 750px){

.oferta{
    width: 500px;
    font-size: 14px;
 }   

#resumen{
    font-size: 14px;
 }

#introduccion1, #introduccion2, #introduccion3{
    font-size: 12px;
    padding: 5px;
    margin: 5px;
 }

.imgOrdinal, #portadaColegio{
    width: 400px;
 }
 
.sombraBTC{
    width: 400px;
 }
#card2, #card3, #resumen{
    margin-top: 50px;
}
}

@media (max-width: 650px){
.oferta{
    width: 400px;
    font-size: 12px;
 } 

#resumen{
    font-size: 12px;
 }

#introduccion1, #introduccion2, #introduccion3{
    font-size: 12px;
    padding: 5px;
    margin: 5px;
 }
#card2, #card3, #resumen{
    margin-top: 20px;
}
footer{
  font-size: 12px; 
}
}
@media (max-width: 500px){
nav{
  height: 150px;
}  
#ORD{
    scroll-margin-top: 150px;  
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0px;
    padding: 0px;


}
#idioma{
    margin-top: -40px;
}

.imgOrdinal, #portadaColegio{
    width: 300px;
    font-size: 12px;
 } 
.sombraBTC{
    width: 300px;
    height: 400px;
}
#introduccion3{
    display: flex;
}
.oferta{
    width: 330px;
}

#contenedorFotoDESC1,#contenedorFoto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
        width: 100%; /* Se ajusta al ancho de la pantalla */
        height: 60vh /* Se ajusta a una porción del alto de la pantalla */
}

/*
#card1{
box-shadow: 0px 0px 10px 5px orange; 
}
#card2{
box-shadow: 0px 0px 10px 5px orange; 
}
#card3{
 box-shadow: 0px 0px 10px 5px orange; 
}
#resumen{
  box-shadow: 0px 0px 10px 5px orange;    
}*/

#card1:active, #card1:focus{
box-shadow: 0px 0px 10px 5px orange; 
}
#card2:active, #card2:focus{
box-shadow: 0px 0px 10px 5px orange; 
}
#card3:active, #card3:focus{
 box-shadow: 0px 0px 10px 5px orange; 
}
#resumen:active, #resumen:focus{
  box-shadow: 0px 0px 10px 5px orange;    
}

#pieFoto{
    margin-top: 7px;
}
#introduccion1, #introduccion2, #introduccion3{
    padding: 5px;
}
}